$font-color: #666;
$font-color-dipped: #a4a4a4;
$brand-primary: #5CE6CD;
$brand-secondary1: #572D49;
$brand-secondary2: #8DFCE9;
$background-color: #f4f3ee;
$monospace-font: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;

@import "bourbon/bourbon";

@import "neat/neat";

body {
    color: $font-color;
    background-color: $background-color;
    font-family: $monospace-font;
    font-size: 14px;
}

#notex_app div {
    @include outer-container;
    h1 {
        color: #618697;
        font-weight: normal;
        text-transform: lowercase;

        @include span-columns(6);
    }
    span#desc {
        margin-top: 30px;
        text-align: right;
        @include span-columns(6);
        @include omega();
    }
    div#enter-note {
        textarea {
            @include span-columns(12);
            @include omega();
        }
        div#passwords {
            margin: 20px 0;
            @include span-columns(3);
            input {
                @include fill-parent();
            }
        }
        div#options {
            margin: 30px 0;
            font-family: $monospace-font;
            @include span-columns(3);
        }
        div#submit-btn {
            margin: 15px 0;
            @include span-columns(2);
            @include shift(4);
            @include omega();
            button {
                @include fill-parent();
            }
        }
    }
    div#unlock-view {
        p {
            @include span-columns(12);
            @include omega();
        }
        div {
            @include span-columns(4);
            p {
                @include span-columns(12 of 12);
                input {
                      min-width: 300px;
                      @include fill-parent();
                }
            }
            p#unlock-btn {
                @include span-columns(4 of 12);
                @include omega();
                button {
                    @include fill-parent();
                }
            }
        }
    }
    div#note-view {
        textarea {
            @include span-columns(12);
            @include omega();
        }
        p#expire-time-msg {
            margin: 30px 0;
            @include span-columns(6);
            @include shift(0);
        }
        p#remove {
            margin: 15px 0;
            @include span-columns(2);
            @include shift(4);
            @include omega();
            button {
                @include fill-parent;
            }
        }
    }
    div#deleted-view {
        margin-top: 120px;
        span {
            margin: 30px 0;
            padding-right: 15px;
            text-align: right;
            @include span-columns(5);
            @include shift(2);
            @include omega();
        }
        a {
            margin: 15px 0;
            @include span-columns(2);
            @include omega();
        }
    }
}

textarea {
    font-size: 14px;
    padding: 5px 10px;
    line-height: 22px;
    min-height: 270px;
    outline: 0;
    background-color: #f5f5f5;
    color: #666;
    border: 1px solid #ccc;
    resize: vertical;
}

input[type="text"], input[type="password"] {
    font-family: $monospace-font;
    font-size: 14px;
    padding: 5px 10px;
    line-height: 22px;
    outline: 0;
    background-color: #f5f5f5;
    color: #666;
    border: 1px solid #ccc;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
    border-color: #aeaeae;
}

a {
    color: $brand-primary;
}

.error {
    color: red;
}

button {
  background-color: $brand-primary;
  color: $brand-secondary1;
  border: 2px solid $brand-secondary1;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  border-radius: 3px;
  cursor: pointer;
}

button:hover, button:active {
  background-color: $brand-secondary1;
  color: $brand-primary;
}

/* usage:
 * http://codepen.io/ro31337/pen/MyVqqM
 */
.snippet {
  background-color: #ccc;
  margin-left: -12px;
  margin-bottom: 20px;
  line-height: 25px;

  li {
    padding-left: 10px;
    background-color: #fff;
  }

  li:hover {
    background-color: #f0f0f0;
  }
}

.password-container {
    position: relative;
}

.password-container .label-password {
    display: none;
    right: 6px;
    position: absolute;
    top: 6px;
    cursor: pointer;
    background: #EAEAEA;
    padding: 6px 7px 6px 6px;
    color: #7D7D7D;
    font-size: 10px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                              not supported by any browser */
}
