$font-color: #d4d4d4;
$font-color-dipped: #a4a4a4;
$brand-primary: #5CE6CD;
$brand-secondary1: #572D49;
$brand-secondary2: #8DFCE9;
$background-color: #000;
$monospace-font: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;

body {
  color: $font-color;
  background-color: $background-color;
  font-family: $monospace-font;
  font-size: 14px;
  text-align: center;
}

a {
  color: $brand-primary;
}

h1 {
  color: $brand-primary;
  font-weight: normal;
  text-transform: lowercase;
}
ul {
  list-style-type: none;
  text-align: left;
  width: 550px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;

  li {
    margin-bottom: 10px;
    line-height: 22px;
    position: relative;
  }
  
  li:before {
    content: "*";
    position: absolute;
    left: -25px;
    color: $font-color-dipped;
  }
}

button {
  background-color: $brand-secondary1;
  color: $brand-primary;
  border: 2px solid $brand-secondary2;
  padding: 10px 30px;
  font-size: 14px;
  border-radius: 3px;
  outline: 0;
  cursor: pointer;
}

button:hover {
  background-color: $brand-primary;
  color: $brand-secondary1;
}

