$font-color: #666;
$font-color-dipped: #a4a4a4;
$brand-primary: #5CE6CD;
$brand-secondary1: #572D49;
$brand-secondary2: #8DFCE9;
$background-color: #f4f3ee;
$default-font: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;

body {
  color: $font-color;
  background-color: $background-color;
  font-family: $default-font;
  font-size: 14px;
}

textarea {
  font-family: $default-font;
  font-size: 14px;
  padding: 7px 10px;
  line-height: 26px;
  width: 100%;
  min-height: 264px;
  
  outline: 0;
  color: #666;
  margin-left: -12px;
  border: none; 
}

input[type="text"], input[type="password"] {
  background-color: yellow;
  font-family: $default-font;
  font-size: 14px;
  padding: 5px 10px;
  line-height: 22px;
  outline: 0;
  background-color: lighten($background-color, 20%);
  color: #666;
  margin-left: -12px;
  border: none;
  background-image: none !important;
}

label input[type="checkbox"] {
  margin-right: 10px;
}

#__lpform_password {
  display: none !important;
}
.container {
  margin: 0 auto;
}

.header1 {
  color: #628696;
}

.header2 {
  color: #a3bbc6;
}

a {
  color: #618697;
  text-decoration: underline;
}

.about-link {
  float: right;
  margin-top: 8px;
  a {
    color: rgba(97, 134, 151, 0.5); // #618697
  }
  a:hover {
    color: rgba(97, 134, 151, 1); // #618697    
  }
}

#about-head, #about-new-note-btn {
  margin: 30px auto 20px auto;
  text-align: center;
}

h1 a {
    text-decoration: none;
}

h1 {
  font-family: 'Roboto', sans-serif;
  color: #618697;
  font-weight: normal;
  font-style: italic;
  font-size: 24px;
  margin: 30px 0 20px;
}
ul {
  list-style-type: none;
  text-align: left;
  width: 550px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;

  li {
    margin-bottom: 10px;
    line-height: 22px;
    position: relative;
  }
  
  li:before {
    content: "*";
    position: absolute;
    left: -25px;
    color: $font-color-dipped;
  }
}

.passwords {
  margin-bottom: 10px;
}
.options {
  margin: 15px 0;
}

.error {
  background-color: #EF526E;
  color: #fff;
}

button {
  background-color: $brand-primary;
  color: $brand-secondary1;
  border: 2px solid $brand-secondary1;
  padding: 10px 30px;
  font-size: 14px;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: $brand-secondary1;
  color: $brand-primary;
}

button:active {
  background-color: lighten($brand-secondary1, 10%);
  color: $brand-primary;
}

.password-container {
  position: relative;
  min-width: 400px;
}

.password-container input[type="text"], input[type="password"] {
  width: 100%;
}

.password-container .label-password {
    display: none;
    right: 4px;
    position: absolute;
    top: 4px;
    cursor: pointer;
    background: #EAEAEA;
    padding: 6px 7px 6px 6px;
    color: #7D7D7D;
    font-size: 10px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; // Non-prefixed version, currently
                       // not supported by any browser
}

// deleted-view (taken from design.scss)
div#deleted-view {
    margin-top: 120px;
    span {
      margin: 30px 0;
      padding-right: 15px;
      text-align: right;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 40.29137%;
      margin-left: 17.05961%;
      margin-right: 0;
    }
    a:last-child {
      margin-right: 0;
    }
    a {
      margin: 15px 0;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 14.70196%;
    }
}

/*screen-xs*/
@media (max-width: 768px) {
  .container {
    padding: 0 20px 0 35px;
    
    h1 {
      font-size: 22px;
    }

    .about-link {
      margin-top: 6px;
    }
 
    .password-container {
      min-width: 100%;
    }   

    textarea, input[type="text"], input[type="password"] {
      font-size: 12px;
      line-height: 20px;
    }
  }
}
/*screen-sm*/
@media (min-width: 768px) and (max-width: 992px) {
  .container {
    padding: 0 20px 0 35px;
    max-width: 750px;
  }
  .password-container {
    width: 300px;
  }
}
/*screen-md*/
@media (min-width: 992px) and (max-width: 1200px) {
  .container {
    padding: 0 40px 0 55px;
    max-width: 970px;
  }
  .password-container {
    width: 400px;
  }
}
/*screen-lg corresponds with col-lg*/
@media (min-width: 1200px) {
  .container {
    padding: 0 50px 0 65px;
    max-width: 1170px;
  }
  .password-container {
    width: 400px;
  }
}
