<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>hushpad | encrypt</title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Turn off favicon request -->
<link rel="icon" href="data:;base64,iVBORw0KGgo=">

<link rel="stylesheet" href="/static/css/style.css" type="text/css">
<link rel="stylesheet" href="/static/fonts/roboto-light-italic.css" type="text/css">
</head>
<body>

  <div id="app"></div>
  <script type="text/javascript">
    window.app_state = {
      create: {{.New}},
      noteid: '{{.NoteId}}',
      {{if not .New}}
      salt: '{{.Salt}}',
      iter_count: {{.IterCount}}
      {{end}}
    };
  </script>
  <script src="/static/js/dist/bundle.js"></script>

</body>
</html>
